## Hello World program in python

In [2]:
print("Hello world 1")

Hello world 1

# data types and variables

In [4]:
a = "Hello world"
print(a)
type(a)

Hello world

str

In [5]:
b = 10
print(b)
type(b)

10

int

In [8]:
c = 3.9
print(c)
type(c)

3.9

float

In [25]:
l =[10,3.5,"Hi",40]
print(l)
type(l)
print(type(l[2]))

[10, 3.5, 'Hi', 40]
<class 'str'>

In [26]:
t=(10,30)
type(t)
print(t[0])

10

In [27]:
d ={1997:"Richard",2000:"Philip"}
print(d[1997])
print(type(d))

Richard
<class 'dict'>

In [29]:
s ={20,30,30}
print(s)
type(s)

{20, 30}

set

In [20]:
k = True
print(k)
print(type(k))

True
<class 'bool'>

# Arithmatic Operator

In [38]:
a = 25
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b) # float division
print(a//b) # int division
print(a**b)
print(a%b)

45
5
500
1.25
1
9094947017729282379150390625
5

# Expression

In [42]:
a =20
b=10
result = (a!=b)
print(result)
print(a>=b)
print(a<=b)

True
True
False

# input frpm user

In [45]:
a = int(input("Enter number 1: "))
type(a)
b = int(input("Enter number 2: "))
type(b)
print(a+b)

Enter number 1: 10
Enter number 2: 20
30

# If else

In [48]:
age = int(input("Enter your age: "))
if age>=18:
    print("Adult")
else:
    print("Not adult")

Enter your age: 20
Adult

# if else if .... else